// utils
@import './utils/variables';
@import './utils/visually-hidden';

// base
@import './base/common';
@import './base/container';

// index
// components 

@import './components/mobile-menu';
@import './components/modal';
@import './components/button';
@import './components/social';


// index
// layouts
@import './layouts/header';
@import './layouts/baner';
@import './layouts/options';
@import './layouts/work';
@import './layouts/command';
@import './layouts/client';
@import './layouts/footer';

// portfolio 
// components
@import './components/portfolio-btn';
@import './layouts/portfolio-work';