:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --h1-text-color: #ffffff;
    --accent-color: #2196f3;
    --logo-primary-text-color: #2196f3;
    --logo-title-text-color: #000000;
    --nav-primary-text-color: #212121;
    --email-tel-color-footer: rgba(255, 255, 255, 0.6);
    --primary-fon-color: #ffffff;
    --primary-color-footer: #2f303a;
}