.hero {
    /* background-color: var(--primary-color-footer); */
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hiro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero__title {
        margin-top: 0;
        margin-bottom: 30px;

        margin-left: auto;
        margin-right: auto;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;

        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;

        color: var(--h1-text-color);
    }
}

.baner .container {
    text-align: center;
    padding: 200px 0;
}