/* Підвал */
footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box__footer {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;

    }


}

.box__footer__group {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;


    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--logo-primary-text-color);

    @media screen and (min-width: 768px) {
        width: 154px;
        margin-left: 100px;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;

        font-size: 26px;
        line-height: 1.19;
    }
}

.footer__studio {
    color: var(--h1-text-color);
}

.footer__address__nav {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-left: 61px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        text-align: inherit;
        width: 231px;
    }



    .footer__address__link {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-style: initial;

        color: var(--h1-text-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.footer__address__https {
    margin-top: 0;
    margin-bottom: 9px;
    text-align: center;

    @media screen and (min-width: 1200px) {

        text-align: inherit;
    }
}

.footer__address__mail {
    margin-top: 0;
    margin-bottom: 9px;
    text-align: center;

    @media screen and (min-width: 1200px) {

        text-align: inherit;
    }
}

.footer__address__link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: initial;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }


}

.footer__address__tel {
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;

    @media screen and (min-width: 1200px) {

        text-align: inherit;
    }
}




/* Форма в футері */

.footer__box__form {

    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 93px;
        width: 570px;
    }


}

.form__item {
    margin-top: 0;
    margin-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: 1200px) {

        text-align: inherit;
    }
}

.form__name {

    @media screen and (min-width: 768px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }

}

.form__box {
    text-align: center;

}

.form__label {
    width: -webkit-fill-available;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 16px;


    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-bottom: 0;

        width: 358px;
    }



    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: var(--h1-text-color);

    outline: none;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }

    placeholder {
        font-size: 16px;
        line-height: 1.25;

        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}