/* Чим ми займаємось */
.work {
    @media (max-width: 1199px) {
        display: none;
    }
}

.work {
    padding-bottom: 94px;
}

.work__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--nav-primary-text-color);
}

.work__list {
    display: flex;

    .work__item+.work__item {
        margin-left: 30px;
    }
}

.work__img {
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.work__name {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 370px;

    position: absolute;
    bottom: 0;
    right: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--h1-text-color);
}